.card__container {
  background-color: rgb(122, 255, 255);
  max-width: 800px;
  min-height: 200px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -2px #728BC5; 
  box-shadow: 0px 0px 10px -2px #728BC5;
}

.h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0 0 10px 0;
  color: #4a6fa1;
}

.current-weather__container {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.city-name {
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 0 0 15px 0;
}

.current-weather__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.current-weather__status {
  max-width: fit-content;
  height: fit-content;

  .icon-temp {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .temperature {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    margin: 8px;
  }

  span.celsius {
    font-size: 1.5rem;
    vertical-align: top;
    
  }
  
  h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }
}


.weather-icon__big {
  max-width: 140px;
  max-height: 140px;
  margin: 0;
}

.current-weather__info {
  max-width: 400px;

  .info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .small-icon {
    height: 36px;
    width: 36px;
  }

  .smaller-icon {
    height: 28px;
    width: 36px;
  }

  p {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .current-weather__info {
    margin-top: 20px;
  }

  .current-weather__container {
    padding: 15px 0 0 0;
  }
}